@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

li {
  font-family: var(--font-quintessential);
  background-color: #B75B5B;
  cursor: pointer;
}
li:hover {

  background-color: #6a3030;
}
h1 {
  font-family: var(--font-quintessential);
}
button:active {
  transform: scale(0.9);
}
@media (min-width: 426px) and (max-width: 768px) {

  #content {
    right: 1rem;
  }

}
@media (min-width: 769px) and (max-width: 1024px) {

  #content {
    right: 2rem;
  }

}
@media (min-width: 376px) and (max-width: 425px) {

  #content {
    right: 1rem;
    width: 15rem;
    height: 15rem;
    top: 2rem;
    bottom: unset;
    h1 {
      font-size: 2rem;
    }
    span {
      font-size: 0.9rem;
      width: 10em;
    }
  }
  #menu {
    left: 50%;
    right: 0;
    bottom: 4rem;
    transform: translateX(-50%);

   
  }

}